<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>For The Record</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="jumbotron">
  <div class="container">
    <h1 class="title" style="color: #d83c5b;">For The Record</h1>
    <h2 class="title">Your Music Binder</h2>
  </div>
</div>
    <section id='album-form' class="container">
       <div class="row">
       <div class="col-md-10 col-md-offset-1">

         <form class="form-horizontal" id="addNewAlbum">
           <fieldset>

             <!-- Form Name -->
             <h2>Add New Album</h2>

             <!-- Text input-->
             <div class="form-group">
               <label class="col-md-4 control-label" for="name">Album Name</label>
               <div class="col-md-4">
               <input id="name" name="name" type="text" placeholder="" class="form-control input-md">

               </div>
             </div>

             <!-- Text input-->
             <div class="form-group">
               <label class="col-md-4 control-label" for="artistName">Artist Name</label>
               <div class="col-md-4">
               <input id="artistName" name="artistName" type="text" placeholder="" class="form-control input-md">

               </div>
             </div>

             <!-- Text input-->
             <div class="form-group">
               <label class="col-md-4 control-label" for="releaseDate">Release Date</label>
               <div class="col-md-4">
               <input id="releaseDate" name="releaseDate" type="text" placeholder="1992" class="form-control input-md">

               </div>
             </div>

             <!-- Textarea -->
             <div class="form-group">
               <label class="col-md-4 control-label" for="genres">Genres (separated by commas)</label>
               <div class="col-md-4">
                 <input id="genres" class="form-control" type="text" name="genres" placeholder="rock, pop"></input>
               </div>
             </div>


             <!-- Button -->
             <div class="form-group">
               <label class="col-md-4 control-label" for="singlebutton">Save Album</label>
               <div class="col-md-4">
                 <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
               </div>
             </div>
           </fieldset>
         </form>
       </div>
       </div>
     </section>


    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Albums</h2>
        </div>
      </div>
      <!-- albums! -->
      <div id='albums'>

      </div>
    </section>

    <!-- begin songModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="songModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Song</h4>
          </div>
          <div class="modal-body">
            <fieldset class='form-horizontal'>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="songName">Song Name</label>
              <div class="col-md-4">
              <input id="songName" name="songName" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="trackNumber">Track Number</label>
              <div class="col-md-4">
              <input id="trackNumber" name="trackNumber" type="text" placeholder="" class="form-control input-md">

              </div>
            </div>

            </fieldset>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveSong">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>


  </body>
</html>
